spring:
  application:
    name: server
    desc: SpringCloud server project
    version: 4.0.0
    packageName: com.aaron
  datasource:
    url: jdbc:mysql://localhost:3306/db_server?useSSL=false&autoReconnect=true&timezone=+800&useUnicode=true&characterEncoding=utf8&allowMultiQueries=true
    username: root
    password: 11111111
  rabbitmq:
    addresses: 127.0.0.1
    port: 5672
    username: admin
    password: password
  # zipkin发送方式
  zipkin:
    sender:
      type: rabbit
  # sleuth采用配置
  sleuth:
    sampler:
      probability: 1.0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8085/eureka/

server:
  port: 8083

